<%- include('../template/head')-%>
<body>
    
  <!-- naviagation bar  -->
  <%- include('../template/nav')-%>
  
  <h3 class="text-center fw-bolder mt-5 mb-4" id="registration-form">Store Directory</h3>
  <div class="container-fluid row d-flex  justify-content-center align-items-center">
    <div class="container row d-flex  justify-content-center align-items-center">
      <a class="text-decoration-none text-dark" href="">
        <div class="card col-lg-4">
          <div class="d-flex justify-content-start">
            <div class="bg-dark text-light d-flex justify-content-end align-items-center p-5 me-4">
              <h3>A</h3>
            </div>
            <div class="d-flex justify-content-center flex-column">
              <h4 class="fw-bolder">Shop Name</h4>
              <p>County</p>
              <p>Location</p>
            </div>
          </div>
      </a>
      </div>
      <div class="card col-lg-4">
        <div class="d-flex justify-content-start">
          <div class="bg-dark text-light d-flex justify-content-end align-items-center p-5 me-4">
            <h3>A</h3>
          </div>
          <div class="d-flex justify-content-center flex-column">
            <h4 class="fw-bolder">Shop Name</h4>
            <p>County</p>
            <p>Location</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-4">
        <div class="d-flex justify-content-start">
          <div class="bg-dark text-light d-flex justify-content-end align-items-center p-5 me-4">
            <h3>A</h3>
          </div>
          <div class="d-flex justify-content-center flex-column">
            <h4 class="fw-bolder">Shop Name</h4>
            <p>County</p>
            <p>Location</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer partial  -->
  <%- include('../template/footer')-%>

  <!-- include custom js  -->
  <script src="./javascript/register-store.js"></script>
  <!-- include bootstrap js  -->
  <script src="./bootstrap/bootstrap-min.js"></script>
   
</body>
</html>