<%- include('../template/head')-%>
<body>
    
  <!-- naviagation bar  -->
  <%- include('../template/nav')-%>
  
     <!-- add product form section  -->
     <section class="p-5">
      <h3 class="text-center fw-bolder" id="registration-form">Upload Product</h3>
      <form action="" method=""  >
        <div class="form-group mt-2">
          <input type="text" class="form-control" id="first-name"  placeholder="Enter your username">
        </div>
        <div class="form-group mt-4">
          <input type="text" class="form-control" id="product-name" placeholder="Product Name">
        </div>
        <div class="form-group mt-4">
          <textarea name="" id="description" cols="30" rows="10" placeholder="Enter product description" style="width: 100%;"></textarea>
        </div>
        <div class="form-group mt-4">
          <input type="number" required class="form-control" id="price" placeholder="Price">
        </div>
        <div class="form-group mt-4">
          <select class="form-control" name="county" id="county" style="width: 100%;">
            <option value="select-count" disabled selected>Category</option>
            <option value="Women">Women</option>
            <option value="Men">Men</option>
            <option value="Kids">Kids</option>
            <option value="Beauty">Beauty</option>
            <option value="Apartment">Apartment</option>
            <option value="Eat">Eat</option>
            </select>
        </div>

        <div class="form-group mt-4">
          <select class="form-control" name="county" id="county" style="width: 100%;">
            <option value="select-count" disabled selected>Product Type</option>
            <option value="Accessories">Accessories</option>
            <option value="Dress & Skirt">Dress & Skirt</option>
            <option value="Trouser & Pant">Trouser & Pant</option>
            <option value="Shirt & Blouse">Shirt & Blouse</option>
            <option value="Footwear">Footwear</option>
            <option value="Body & Bath">Body & Bath</option>
            <option value="Hair Care">Hair Care</option>
            <option value="Skin Care">Skin Care</option>
            </select>
        </div>
  
        
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-dark mt-4" id="create-store-btn">Upload Product</button>
        </div>
      </form>
    </section>

    

  <!-- footer partial  -->
  <%- include('../template/footer')-%>

  <!-- include custom js  -->
  <script src="./javascript/register-store.js"></script>
  <!-- include bootstrap js  -->
  <script src="./bootstrap/bootstrap-min.js"></script>
   
</body>
</html>