<%- include('../template/head')-%>
<body>
    <!-- navigation bar  -->
    <%- include('../template/nav')-%>

    <!-- showcase section  -->
    <section class="jumbotron d-flex align-items-center mb-5" id="showcase-section">
      <div class="container">
        <h1 class="display-4 fw-bolder">Experience the <br> African Culture.</h1>
        <p>Produced with love by local craftmen, fashion designers, etc. </p>
        <p class="lead">
          <a class="btn btn-dark btn-lg" href="/shop-all" role="button" id="shop-now-btn">SHOP NOW</a>
        </p>
      </div>
    </section>

    <!-- shop by category section  -->
    <h1 class="text-center pt-5 mt-5">SHOP BY CATEGORY</h1>
    <section class=" d-flex justify-content-center">
      <div class="container d-flex justify-content-center align-items-center my-5 row">
        <!-- ladies-category  -->
        <div class="card col-lg-6 d-flex justify-content-center p-5" id="ladies-category">
            <div class="card-body d-flex justify-content-center p-5">
                <a href="/women" class="text-decoration-none"><h4 class="card-title fw-bolder  card-text bg-dark text-decoration-none">Ladies</h4></a>
            </div>
        </div>
        <!-- guys category  -->
        <div class="card col-lg-6 d-flex justify-content-center p-5" id="guys-category">
            <div class="card-body d-flex justify-content-center p-5">
                <a href="/men" class="text-decoration-none"><h4 class="card-title fw-bolder  card-text bg-dark text-decoration-none">Guys</h4></a>
            </div>
        </div>
        <!-- kids category -->
        <div class="card col-lg-6 d-flex justify-content-center p-5" id="kids-category">
            <div class="card-body d-flex justify-content-center p-5">
                <a href="/kids" class="text-decoration-none"><h4 class="card-title fw-bolder  card-text bg-dark text-decoration-none">Kids</h4></a>
            </div>
        </div>
        <!-- beauty-category  -->
        <div class="card col-lg-6 d-flex justify-content-center p-5" id="beauty-category">
            <div class="card-body d-flex justify-content-center p-5">
                <a href="/beauty" class="text-decoration-none"><h4 class="card-title fw-bolder  card-text bg-dark text-decoration-none">Beauty</h4></a>
            </div>
        </div>
        <!-- apartment  -->
        <div class="card col-lg-6 d-flex justify-content-center p-5" id="apartment-category">
            <div class="card-body d-flex justify-content-center p-5">
                <a href="/apartment" class="text-decoration-none"><h4 class="card-title fw-bolder  card-text bg-dark text-decoration-none">Apartment</h4></a>
            </div>
        </div>
        <!-- eat-category  -->
        <div class="card col-lg-6 d-flex justify-content-center p-5" id="eat-category">
            <div class="card-body d-flex justify-content-center p-5">
                <a href="/eat" class="text-decoration-none"><h4 class="card-title fw-bolder  card-text bg-dark text-decoration-none">Eat</h4></a>
            </div>
        </div>
        
      </div>
    </section>

    <!-- shop all product btn  -->
    <div class="d-flex justify-content-center align-item-center mb-5">
        <a href="/shop-all">
            <button type="button" class="btn btn-dark">SHOP ALL PRODUCTS</button>
        </a>
    </div>

   

    
    <!-- footer  -->
    <%- include('../template/footer')-%>
    
     <!-- include custom js  -->
     <script src="./javascript/script.js"></script>
    <!-- include bootstrap js  -->
    <script src="./bootstrap/bootstrap.min.js"></script>
   
</body>
</html>