<%- include('../template/head')-%>
<body>
    
  <!-- naviagation bar  -->
  <%- include('../template/nav')-%>


product page  


  <!-- footer partial  -->
  <%- include('../template/footer')-%>

  <!-- include custom js  -->
  <script src="./javascript/women-accessories.js"></script>
  <!-- include bootstrap js  -->
  <script src="./bootstrap/bootstrap-min.js"></script>
   
</body>
</html>