<%- include('../template/head')-%>
<body>
    
  <!-- naviagation bar  -->
  <%- include('../template/nav')-%>


  <h1 class="text-center fw-bolder mt-5 mb-5" id="page-title">Women Footwear</h1>
  


  <!-- footer partial  -->
  <%- include('../template/footer')-%>

  <!-- include custom js  -->
  <script src="./javascript/women-accessories.js"></script>
  <!-- include bootstrap js  -->
  <script src="./bootstrap/bootstrap-min.js"></script>
   
</body>
</html>