 <!-- footer nav  -->
 <section class="py-5 mt-5 bg-dark" id="footer-nav">
    <div class="container">
        <div class="row">
            <div class=" row">
                <div class="col-lg-4 col-md-6">
                    <h3 class="fw-bolder">ACCOUNT</h3>
                    <ul class="text-muted list-unstyled">
                        <li>
                            <a class="text-light text-decoration-none" href="">My Account</a>
                        </li>
                        <li>
                            <a class="text-light text-decoration-none" href="">My Order</a>
                        </li>
                        <li>
                            <a class="text-light text-decoration-none" href="">Track My Orders</a>
                        </li>
                        <li>
                            <a class="text-light text-decoration-none" href="">Vendors</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6">
                  <h3 class="fw-bolder">EXPERIENCE</h3>
                  <ul class="text-muted list-unstyled">
                      <li>
                          <a class="text-light text-decoration-none" href="">FAQ</a>
                      </li>
                      <li>
                          <a class="text-light text-decoration-none" href="">Delivery Policy</a>
                      </li>
                      <li>
                          <a class="text-light text-decoration-none" class="text-light text-decoration-none" href="">Return & Exchange</a>
                      </li>
                      <li>
                          <a class="text-light text-decoration-none" href="">Terms & Condition</a>
                      </li>
                  </ul>
              </div>

              <div class="col-lg-4 col-md-6">
                <h3 class="fw-bolder">THE COMPANY</h3>
                <ul class="text-muted list-unstyled">
                    <li>
                        <a class="text-light text-decoration-none" href="">About Us</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="">Selling Online</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="">Contact Us</a>
                    </li>
                </ul>
            </div>

            </div>
        </div>
    </div>
</section>
<!-- main footer  -->
<footer class="bg-dark" id="copyright">
    <div class="container border-top py-3">
        <p class="text-center">
            Copyright ©2021 <span class="fw-bold">Afrikorture Marketplace</span> 
        </p>
    </div>
</footer>