  <!-- main nav  -->
  <nav class="navbar navbar-expand-lg 
  navbar-light py-3 bg-light" id="navigation-bar">
      <div class="container-fluid">
        <a class="navbar-brand fw-bolder" href="/">AFRIKORTURE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- women  -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Women
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="women-menu">
                <li><a class="dropdown-item" href="/women-accessories">Accessories</a></li>
                <li><a class="dropdown-item" href="/women-dresses-&-skirts">Dresses & Skirts</a></li>
                <li><a class="dropdown-item" href="/women-trousers-&-pants">Trousers & Pants</a></li>
                <li><a class="dropdown-item" href="/women-shirt-&-blouse">Shirts & Blouses</a></li>
                <li><a class="dropdown-item" href="/women-footwear">Footwear</a></li>
              </ul>
            </li>
            <!-- men  -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Men
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/men-accessories">Accessories</a></li>
                <li><a class="dropdown-item" href="/men-trousers-&-pants">Trousers & Pants</a></li>
                <li><a class="dropdown-item" href="/men-shirt">Shirts</a></li>
                <li><a class="dropdown-item" href="/men-footwear">Footwear</a></li>
              </ul>
            </li>
            <!-- kids  -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kids
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/kids-accessories">Accessories</a></li>
                <li><a class="dropdown-item" href="/kids-dresses-&-skirts">Dresses & Skirts</a></li>
                <li><a class="dropdown-item" href="/kids-trousers-&-pants">Trousers & Pants</a></li>
                <li><a class="dropdown-item" href="/kids-shirt-&-blouse">Shirts & Blouses</a></li>
                <li><a class="dropdown-item" href="/kids-footwear">Footwear</a></li>
              </ul>
            </li>
            <!-- Beauty  -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Beauty
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/beauty-accessories">Accessories</a></li>
                <li><a class="dropdown-item" href="/body-and-bath">Body & Bath</a></li>
                <li><a class="dropdown-item" href="/hair-care">Hair Care</a></li>
                <li><a class="dropdown-item" href="/skin-care">Skin Care</a></li>
              </ul>
            </li>
            <!-- Apartment  -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Apartment
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/home-decoration">Home Decoration</a></li>
              </ul>
            </li>
            <!-- eat  -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Eat
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/snacks">Snacks</a></li>
              </ul>
            </li>
            <!-- Brand Directory  -->
            <li class="nav-item">
              <a class="nav-link fw-bolder" href="/brand-directory"  aria-expanded="false">
                Brands Directory
              </a>
            </li>
          </ul>
          <!-- <div>
              <i class="fas fa-shopping-basket" style="width: 2rem;"></i>
          </div> -->
          <form class="d-flex">
            <input class="form-control border-dark" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
      </div>
  </nav>

  <!-- sub nav  -->
  <section class=" container-fluid d-flex align-items-center justify-content-end bg-dark text-light p-2">
      <a href="/create-shop" class="text-decoration-none text-light">CREATE YOUR SHOP</a>
    <span class="px-3">|</span>
      <a href="/upload-product" class="text-decoration-none text-light">UPLOAD PRODUCT</a>
  </section>

  <!-- <script src="../../public/javascript/women.js"></script> -->