 <!-- Topbar Start -->
 <div class="container-fluid">
  <div class="row bg-secondary py-2 px-xl-5">
      <div class="col-lg-6 d-none d-lg-block">
          <div class="d-inline-flex align-items-center">
              <a class="text-dark" href="">FAQs</a>
              <span class="text-muted px-2">|</span>
              <a class="text-dark" href="">Help</a>
              <span class="text-muted px-2">|</span>
              <a class="text-dark" href="">Support</a>
          </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
          <div class="d-inline-flex align-items-center">
              <a class="text-dark px-2" href="">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a class="text-dark px-2" href="">
                  <i class="fab fa-twitter"></i>
              </a>
              <a class="text-dark px-2" href="">
                  <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="text-dark px-2" href="">
                  <i class="fab fa-instagram"></i>
              </a>
              <a class="text-dark pl-2" href="">
                  <i class="fab fa-youtube"></i>
              </a>
          </div>
      </div>
  </div>
  <div class="row align-items-center py-3 px-xl-5 ">
      <div class="col-lg-3 d-none d-lg-block">
          <a href="/" class="text-decoration-none">
              <h1 class="m-0 display-5 font-weight-semi-bold">AfriKorture</h1>
          </a>
      </div>
      <div class="col-lg-6 col-6 text-left">
          <form action="">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for products">
                  <div class="input-group-append">
                      <span class="input-group-text bg-transparent text-primary">
                          <i class="fa fa-search"></i>
                      </span>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-lg-3 col-6 text-right">
          <a href="" class="btn border">
              <i class="fas fa-heart text-primary"></i>
              <span class="badge">0</span>
          </a>
          <a href="" class="btn border">
              <i class="fas fa-shopping-cart text-primary"></i>
              <span class="badge">0</span>
          </a>
      </div>
  </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row">
        <!-- main menu  -->
        <div class=" border-top col-12 ">
  
          <!-- navigation  -->
          <nav class=" px-xl-5 px-4 navbar navbar-expand-lg  navbar-light py-3 py-lg-0 px-0">
                <a href="/" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">AfriKorture</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                      <div class="navbar-nav mr-auto py-0">
  
                          <!-- women items  -->
                          <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Women</a>
                            <div class="dropdown-menu rounded-0 m-0" id="women-dropdown-options">
                              <a href="/women-accessories" class="dropdown-item women">Accessories</a>
                              <a href="/women-dress-&-skirt" class="dropdown-item women">Dresses & Skirts</a>
                              <a href="/women-trouser-and-pant" class="dropdown-item women">Trousers & Pants</a>
                              <!-- <a href="" class="dropdown-item women">Shirts & Blouses</a> -->
                              <a href="/women-foot-wear" class="dropdown-item women">Footwear</a>
                            </div>
                          </div>
  
                           <!-- men items  -->
                           <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Men</a>
                              <div class="dropdown-menu rounded-0 m-0">
                                <a href="/men-accessories" class="dropdown-item">Accessories</a>
                                <a href="/men-trouser-and-pant" class="dropdown-item">Trousers & Pants</a>
                                <!-- <a href="" class="dropdown-item">Shirts</a> -->
                                <a href="/men-foot-wear" class="dropdown-item">Footwear</a>
                              </div>
                            </div>
  
                             <!-- kids items  -->
                          <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Kids</a>
                              <div class="dropdown-menu rounded-0 m-0">
                                <a href="/beauty-accessories" class="dropdown-item">Accessories</a>
                                <a href="" class="dropdown-item">Dresses & Skirts</a>
                                <a href="" class="dropdown-item">Trousers & Pants</a>
                                <a href="" class="dropdown-item">Shirts & Blouses</a>
                                <a href="" class="dropdown-item">Footwear</a>
                              </div>
                            </div>
  
                          <!-- beauty items  -->
                          <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Beauty</a>
                              <div class="dropdown-menu rounded-0 m-0">
                                <a href="" class="dropdown-item">Accessories</a>
                                <a href="" class="dropdown-item">Body & Bath</a>
                                <a href="" class="dropdown-item">Hair Care</a>
                                <a href="" class="dropdown-item">Skin Care</a>
                              </div>
                          </div>
  
                          <!-- apartment items  -->
                          <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Apartment</a>
                              <div class="dropdown-menu rounded-0 m-0">
                                <a href="" class="dropdown-item">Home Decoration</a>
                              </div>
                          </div>
  
                          <!-- eat items  -->
                          <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Eat</a>
                              <div class="dropdown-menu rounded-0 m-0">
                                <a href="" class="dropdown-item">Snacks</a>
                              </div>
                          </div>

                          <!-- brand directory  -->
                          <a href="/brands" class="nav-item nav-link font-weight-bold">Availiable Brands</a>
                      </div>
 
                      <div class="navbar-nav ml-auto py-0">
                        <a href="/create-shop" class="nav-item nav-link font-weight-bold">Create A Shop</a>
                        <a href="" class="nav-item nav-link font-weight-bold">Login</a>
                      </div>
                </div>
          </nav>

        </div>
    </div>
</div>
<!-- Navbar End -->

